h1,h2,h3,h4,h5,h6
{
    color: #3967DB;
font-family: 'Aranl',sans-serif;
font-weight: bold;
margin-top: 16px;
margin-bottom: 16px;
}

h1
{
font-size: 50px;
}

h2
{
font-size: 20px;
}

.color-box-1{
color: #ffffff;
font-size: 40px;
width: 100px;
height: 100px;
display: inline-block;
background-color: #AC6EDB;
}
.color-box-2{
    color: #ffffff;
    font-size: 40px;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #D06EDB;
    }

