.header_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.header_seater-container /* 原為 .heaber_seater-continer */
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 20px;
}
.header_container > h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
}
.header_container > h2 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}   

.movie-item {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.movie__item {
    width: 90%;
    text-align: center;
    background-size: 100%; /* 保留這一行 */
    transition: background-size 5s cubic-bezier(0.23, 1, 0.32, 1);
}

.movie__item > h2 {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.movie__item.cover {
    height: 300px;
    background-position: center;
}

.movie__item:hover {
    background-size: 150%;
}

.item1 {
    background-image: url(https://www.vscinemas.com.tw/upload/film/film_20250305008.jpg);
}

.movie-item.item2 {
    background-image: url(https://www.vscinemas.com.tw/upload/film/film_20250305009.jpg);
    height: 300px;
    background-position: center;
}

.item3 {
    background-image: url(https://www.vscinemas.com.tw/upload/film/film_20250402032.jpg);
}

.movie-item.item4 {
    background-image: url(https://www.vscinemas.com.tw/upload/film/film_20250402033.jpg);
    height: 300px;
    background-position: center;
}

@media (min-width: 1025px) {
    .movie-item {
        width: 45%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item1 {
        order: 1;
        flex-grow: 2;
    }
    .item2 {
        order: 2;
    }
    .item3 {
        order: 4;
        flex-grow: 2;
    }
    .item4 {
        order: 3;
    }
    .movie-item {
        gap: 0;
    }
}